.themify_builder_26_row.module_row_0.module_row{background-image: url("https://themify.me/demo/themes/ultra-agency/files/2016/08/typing-keyboard.jpg"); background-size:cover;background-position:center center;background-repeat: no-repeat;background-size: cover; background-color:#544cad; text-align: center; padding-top:18%; padding-bottom:12%; }
.themify_builder_26_row.module_row_0.module_row>.builder_row_cover::before{background-image:-webkit-linear-gradient(180deg,rgba(235, 122, 255, 0.729412) 0%,rgba(22, 48, 135, 0.941176) 100%);
background-image:-o-linear-gradient(180deg,rgba(235, 122, 255, 0.729412) 0%,rgba(22, 48, 135, 0.941176) 100%);
background-image:linear-gradient(180deg,rgba(235, 122, 255, 0.729412) 0%,rgba(22, 48, 135, 0.941176) 100%);
}
.themify_builder_26_row.module_row_0.module_row,.themify_builder_26_row.module_row_0 h1,.themify_builder_26_row.module_row_0 h2,.themify_builder_26_row.module_row_0 h3:not(.module-title),.themify_builder_26_row.module_row_0 h4,.themify_builder_26_row.module_row_0 h5,.themify_builder_26_row.module_row_0 h6{color:#ffffff; }
.module_row_0 .module_column_0.tb_26_column.module_column{padding-right:5%; padding-left:5%; }
@media screen and (max-width: 480px) {.module_row_0 .module_column_0.tb_26_column.module_column{padding-top:50px; }
}
.themify_builder .typewriter-26-0-0-0.module-typewriter{background-repeat: repeat; }
.themify_builder .typewriter-26-0-0-0.module-typewriter,.themify_builder .typewriter-26-0-0-0.module-typewriter p,.themify_builder .typewriter-26-0-0-0.module-typewriter h1,.themify_builder .typewriter-26-0-0-0.module-typewriter h2,.themify_builder .typewriter-26-0-0-0.module-typewriter h3:not(.module-title),.themify_builder .typewriter-26-0-0-0.module-typewriter h4,.themify_builder .typewriter-26-0-0-0.module-typewriter h5,.themify_builder .typewriter-26-0-0-0.module-typewriter h6{font-family: Gentium Basic; font-weight: 400; }
.themify_builder .typewriter-26-0-0-0 .typewriter-main-tag .typewriter-span span{background-color:rgba(17,255,0, 0.62); color:#000000; padding-top:7px; padding-right:7px; padding-bottom:7px; padding-left:7px; }
.themify_builder .buttons-26-0-0-1.module.module-buttons{background-repeat: repeat; background-position: left top; }
.themify_builder .buttons-26-0-0-1 .module-buttons .module-buttons-item a{color:#ffffff; }
@media screen and (max-width: 480px) {.themify_builder .buttons-26-0-0-1 div.module-buttons{padding-bottom:20px; }
}
.themify_builder_26_row.module_row_1.module_row{padding-top:60px; padding-bottom:60px; }
@media screen and (max-width: 480px) {.themify_builder_26_row.module_row_1.module_row{padding-top:10%; padding-bottom:10%; }
}
@media screen and (max-width: 480px) {.module_row_1 .module_column_0.tb_26_column.module_column{padding:0px; }
}
.themify_builder .feature-26-1-0-0.module-feature{background-repeat: repeat; background-position: left top; }
@media screen and (max-width: 480px) {.themify_builder .feature-26-1-0-0.module-feature{margin-top:0px; margin-bottom:0px; }
}
.themify_builder .feature-26-1-1-0.module-feature{background-repeat: repeat; background-position: left top; }
@media screen and (max-width: 480px) {.themify_builder .feature-26-1-1-0.module-feature{margin-top:0px; margin-bottom:0px; }
}
.themify_builder .feature-26-1-2-0.module-feature{background-repeat: repeat; background-position: left top; }
@media screen and (max-width: 480px) {.themify_builder .feature-26-1-2-0.module-feature{margin-bottom:0px; }
}
.module_row_2 .module_column_0.tb_26_column.module_column{background-image: url("https://themify.me/demo/themes/ultra-agency/files/2016/08/great-features-min.jpg"); background-repeat: no-repeat;background-size: cover; text-align: center; padding:5%; }
.module_row_2 .module_column_0.tb_26_column.module_column,.module_row_2 .module_column_0.tb_26_column h1,.module_row_2 .module_column_0.tb_26_column h2,.module_row_2 .module_column_0.tb_26_column h3:not(.module-title),.module_row_2 .module_column_0.tb_26_column h4,.module_row_2 .module_column_0.tb_26_column h5,.module_row_2 .module_column_0.tb_26_column h6{color:#ffffff; }
.sub_column_post_26.sub_column_2-0-0-0.module_column{background-color:#23c3d1; text-align: center; padding-top:10%; padding-right:7%; padding-bottom:10%; padding-left:7%; }
.sub_column_post_26.sub_column_2-0-0-0.module_column,.sub_column_post_26.sub_column_2-0-0-0 h1,.sub_column_post_26.sub_column_2-0-0-0 h2,.sub_column_post_26.sub_column_2-0-0-0 h3:not(.module-title),.sub_column_post_26.sub_column_2-0-0-0 h4,.sub_column_post_26.sub_column_2-0-0-0 h5,.sub_column_post_26.sub_column_2-0-0-0 h6{color:#ffffff; }
.module_row_2 .module_column_1.tb_26_column.module_column{background-image: url("https://themify.me/demo/themes/ultra-agency/files/2016/08/great-experience-min.jpg"); background-repeat: no-repeat;background-size: cover; text-align: center; padding:5%; }
.sub_column_post_26.sub_column_2-1-0-0.module_column{background-color:#ecf2f4; text-align: center; padding-top:10%; padding-right:7%; padding-bottom:10%; padding-left:7%; }
.themify_builder_26_row.module_row_3.module_row{background-color:#ecf2f4; padding-top:8%; padding-bottom:7%; }
@media screen and (max-width: 480px) {.themify_builder_26_row.module_row_3.module_row{text-align: center; padding-top:16%; padding-bottom:10%; }
}
.themify_builder .buttons-26-3-0-1.module-buttons{margin-bottom:40px; }
@media screen and (max-width: 480px) {.themify_builder .image-26-3-1-0.module-image{padding-bottom:20px; }
}
.themify_builder_26_row.module_row_4.module_row{text-align: center; padding-top:7%; padding-bottom:5%; }
@media screen and (max-width: 480px) {.themify_builder_26_row.module_row_4.module_row{padding-top:16%; padding-bottom:10%; }
}
.themify_builder .text-26-4-0-0.module-text{text-align: center; margin-bottom:30px; }
.themify_builder_26_row.module_row_5.module_row{padding-top:8%; padding-bottom:5%; border-top:1px solid #eee; }
@media screen and (max-width: 480px) {.themify_builder_26_row.module_row_5.module_row{text-align: center; padding-top:17%; }
}
.themify_builder .text-26-5-0-0.module-text{margin-bottom:30px; }
@media screen and (max-width: 480px) {.themify_builder .feature-26-sub_row_5-1-0-0-0.module-feature{padding-top:10%; margin-bottom:0px; }
}
@media screen and (max-width: 480px) {.themify_builder .feature-26-sub_row_5-1-0-1-0.module-feature{margin-top:0px; margin-bottom:0px; }
}
@media screen and (max-width: 480px) {.themify_builder .feature-26-sub_row_5-1-0-2-0.module-feature{margin-top:0px; margin-bottom:0px; }
}
.themify_builder_26_row.module_row_6.module_row{background-color:#ecf2f4; }
.module_row_6 .module_column_0.tb_26_column.module_column{background-image: url("https://themify.me/demo/themes/ultra-agency/files/2016/08/our-company-team-min.jpg"); background-repeat: no-repeat;background-size: cover; background-color:#b0b0b0; padding-top:170px; padding-bottom:170px; }
.module_row_6 .module_column_1.tb_26_column.module_column{padding-top:7%; padding-right:7%; padding-bottom:120px; padding-left:7%; }
@media screen and (max-width: 480px) {.module_row_6 .module_column_1.tb_26_column.module_column{padding-top:14%; padding-bottom:3%; }
}
@media screen and (max-width: 480px) {.themify_builder_26_row.module_row_7.module_row{padding-top:7%; padding-bottom:10%; }
}
.module_row_7 .module_column_0.tb_26_column.module_column{background-color:#ffffff; padding-top:40px; padding-right:6%; padding-bottom:20px; padding-left:6%; }
@media screen and (max-width: 480px) {.module_row_7 .module_column_0.tb_26_column.module_column{text-align: center; }
}
.sub_column_post_26.sub_column_7-0-0-1.module_column{text-align: right; }
@media screen and (max-width: 480px) {.sub_column_post_26.sub_column_7-0-0-1.module_column{text-align: left; }
}
@media screen and (max-width: 480px) {.themify_builder .buttons-26-sub_row_7-0-0-1-0 div.module-buttons{text-align: center; }
}
.themify_builder_26_row.module_row_8.module_row{background-color:#eeeeee; }
@media screen and (max-width: 480px) {.themify_builder_26_row.module_row_9.module_row{padding-top:7%; }
}
.themify_builder .text-26-9-0-0.module-text{background-color:#23c3d1; padding:5%; }
.themify_builder .text-26-9-0-0.module-text,.themify_builder .text-26-9-0-0.module-text h1,.themify_builder .text-26-9-0-0.module-text h2,.themify_builder .text-26-9-0-0.module-text h3:not(.module-title),.themify_builder .text-26-9-0-0.module-text h4,.themify_builder .text-26-9-0-0.module-text h5,.themify_builder .text-26-9-0-0.module-text h6{color:#ffffff; }
.themify_builder .text-26-9-0-0.module-text a{color:#ffffff; }
.themify_builder .text-26-9-0-0.module.module-text h5{color:#ffffff; }
@media screen and (max-width: 480px) {.themify_builder .text-26-9-0-0.module-text{padding-bottom:0px; margin-bottom:0px; }
}
